/* pages.css */

/* @import "tailwindcss"; */

.logoContainer {
  justify-content: center;
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 100%;
  flex-direction: row;
  gap: 100px;
}

.logoContainerInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoText {
  margin: 5px;
  font-size: 18px;
  opacity: 0.5;
  color:white;
}

.pageButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1em;
}

.pageButton:hover {
  border-color: #f4f4f4;
}

.pageButton:focus,
.pageButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo {
  width: 100px;
  height: 100px;
  transition: 1000ms;
  color: rgb(77, 77, 77);
}
.logo.pcv:hover {
  color: rgb(255, 150, 45);
  transform: scale(1.1);
}
.logo.gis:hover {
  color: rgb(255, 150, 45);
  transform: scale(1.1);
}

/* @keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
} */

/* @media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

.read-the-docs {
  color: #888;
}

.dropzone {
  width: 400px;
  height: 200px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.061);
  border: 2px dashed rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
  flex-direction: "column";
}

.dropzone:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.196);
}

.dropzone.drag-active {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.15);
}
