/* pages.css */

/* @import "tailwindcss"; */

.pageButton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1em;
}

.pageButton:hover {
  border-color: #f4f4f4;
}

.pageButton:focus,
.pageButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  border-radius: 8px;
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-dark-6)
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.read-the-docs {
  color: #888;
}

.dropzone {
  width: 400px;
  height: 200px;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.061);
  border: 2px dashed rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  cursor: pointer;
  flex-direction: "column";
}

.dropzone:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.196);
}

.dropzone.drag-active {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.15);
}