/* Wrapper for Positioning */
.buttonContainer {
  position: absolute;
  top: 50px;
  right: 50px;
  display: flex;
  align-items: center;
  flex-direction: column; /* Stack items vertically */
  gap: 10px; /* Spacing between buttons */
  z-index: 10000;
}

/* Close Button */
.closeButton {
  cursor: pointer;
  color: #343434;
  opacity: 0.6;
  transition: all 0.15s ease-in-out;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

/* Dark Mode Close Button */
.darkCloseButton {
  color: #cecece !important; /* Light color for dark mode */
  transition: all 0.15s ease-in-out;
}

.darkCloseButton:hover {
  background-color: #3f3f3f !important; /* Darker background on hover */
}

.closeButton:hover {
  background-color: #d2d2d2;
  opacity: 0.5;
  transform: scale(1.1);
}

.closeButton:focus,
.closeButton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  overflow: hidden; /*no scrollbars in this overlay*/
}

/* Ensure the Canvas Takes Up Full Space */
.canvasContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Dark Mode Toggle */
.darkModeToggle {
  cursor: pointer;
}